<%= form_with(model: flat, local: true) do |f| %>
  <% if flat.errors.any? %>
    <div class="errors">
      <h2><%= pluralize(flat.errors.count, "error") %> prevented this flat from saving:</h2>
      <ul>
        <% flat.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title, class: "wide-input" %>
  </div>

  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description, class: "wide-textarea" %>
  </div>

  <div class="field">
    <%= f.label :location %><br>
    <%= f.text_field :location, class: "wide-input" %>
  </div>

  <div class="field mt-3">
    <%= f.label :photo, "Upload photo" %><br>
    <%= f.file_field :photo %>

    <% if flat.photo.attached? %>
      <div class="preview ">
        <%= image_tag url_for(flat.photo), alt: flat.title %>
      </div>
    <% end %>
  </div>

  <div class="actions" style="margin-top:12px;">
    <%= f.submit class: "btn btn-info" %>
  </div>
<% end %>
